:root[theme-mode=light]
  --theme-highlight #9d00ff
  --theme-subcolor #00f0ff

  --theme-bar-color-0 #00f0ff
  --theme-bar-color-1 rgba(#00f0ff, .73)
  --theme-bar-color-2 rgba(#00f0ff, .53)
  --theme-bar-color-3 rgba(#00f0ff, .33)

  --theme-kbd-shadow #00b8cc

  --theme-border #00f0ff

  --theme-td-border #9d00ff
  --theme-td-hover rgba(#9d00ff, .1)

:root[theme-mode=dark]
  --theme-highlight #9d00ff
  --theme-subcolor #00f0ff

  --theme-bar-color-0 #00f0ff
  --theme-bar-color-1 rgba(#00f0ff, .67)
  --theme-bar-color-2 rgba(#00f0ff, .27)
  --theme-bar-color-3 rgba(#00f0ff, .13)

  --theme-kbd-shadow #00b8cc

  --theme-border #00f0ff

  --theme-td-border #9d00ff
  --theme-td-hover rgba(#9d00ff, .1)
